.body{
    padding: 0;
    margin: 0;
}

.wrapper{
    margin: 0 auto;
    max-width: 1140px; 
    width: 100%;

    display: flex;
    justify-content: center; 
}

.wrapper__container{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
}

.box{
    padding: 10px;
    background-color: #34495e;
    border: 2px solid #2ecc71;
}

.container{
    display: grid;
    grid-template-columns: repeat(1,1fr 2fr); 
    grid-template-rows: 150px; 
    grid-column-gap: 40px;
}

.container2{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 350px;
}

.container3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px;
    grid-column-gap: 20px;
}

@media (max-width:992px){
    .wrapper__container{
        max-width: 750px;
    }
}

@media (max-width:768px){
    .wrapper__container{
        max-width: 566px;
    }
    
    .container3{
        grid-template-columns: repeat(1,2fr);
        grid-template-rows: repeat(3,150px); 
        grid-row-gap: 20px;
    }
}

@media (max-width:568px){
    .wrapper__container{
        max-width: 320px;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,150px);  
        grid-row-gap: 20px;
    }
    
    .container2{
        grid-template-rows:350px; 
        grid-row-gap: 20px;
    }
    
    .container3{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,150px); 
        grid-row-gap: 20px;
    }
}

@media (max-width:320px){
    .wrapper__container{
        max-width: none;
    }
}







